{% extends "layout.html.twig" %}
{% block title %}Home{% endblock %}
{% block content %}
    {% if numberOfPages > 0 %}
        <ul class="pagination">
            {% if currentPage <= 1 %}
                <li class="disabled">
                    <a href="#" id="paginationswiperight">
                        <i class="material-icons">chevron_left</i>
                    </a>
                </li>
            {% else %}
                <li class="waves-effect">
                    <a href="{{ path_for('home',{'page' : currentPage - 1}) }}" id="paginationswipeleft">
                        <i class="material-icons">chevron_left</i>
                    </a>
                </li>
            {% endif %}

            {% for numberOfPage in 1..numberOfPages %}
                <li class="{% if currentPage == numberOfPage %} active {% else %} waves-effect {% endif %}"><a
                            href="{{ path_for('home',{'page' : numberOfPage}) }}">{{ numberOfPage }}</a></li>
            {% endfor %}

            {% if currentPage >= numberOfPages %}
                <li class="disabled">
                    <a href="#" id="paginationswipeleft">
                        <i class="material-icons">chevron_right</i>
                    </a>
                </li>
            {% else %}
                <li class="waves-effect">
                    <a href="{{ path_for('home',{'page' : currentPage + 1}) }}" id="paginationswiperight">
                        <i class="material-icons">chevron_right</i>
                    </a>
                </li>
            {% endif %}
        </ul>

        {{ include('quotes.html.twig') }}

    {% else %}
        <div class="card large">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{ base_url() }}/api/files/images/emptyDatabase.jpg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">
                    There are no Quotes in our Databse, please add some!
                </span>
            </div>
        </div>
    {% endif %}


    <div class="fixed-action-btn horizontal" id="menuButton">
        <a class="btn-floating btn-large red">
            <i class="material-icons">menu</i>
        </a>
        <ul>
            <li>
                <a class="btn-floating red" href="{{ path_for('createAuthors') }}">
                    <i class="material-icons">perm_identity</i>
                </a>
            </li>
            <li>
                <a class="btn-floating green" href="{{ path_for('createQuotes') }}">
                    <i class="material-icons">format_quote</i>
                </a>
            </li>
        </ul>
    </div>


{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript" src="{{ base_url() }}/js/home.js"></script>
{% endblock %}