<div class="row">
    {% for quote in quotes %}
        <div class="col s12 m6 l4">
            <div class="card horizontal quoteCards">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ quote.author.thumbnail }}">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>{{ quote.content }}</p>
                    </div>
                    <div class="card-action">
                        <i>- {{ quote.author.name}} {{ quote.date | date("d.m.Y") }} {{ quote.rating }}</i>
                    </div>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Created by {{ quote.user.name }}
                        <i class="material-icons right">close</i>
                    </span>
                   <a href="https://fancy.ammonix.ch/{{ quote.content }} - {{ quote.author.name}} {{ quote.date | date("d.m.Y") }}"><img src="{{ quote.user.picture }}"></a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>